#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
  flex-direction: column;
}

#homepage-links {
  margin-top: 1.5em;
  display: flex;
  gap: 16px;
}

#homepage .logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}
