#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: var(--white);
  flex-direction: column;
  background: rgb(0 0 0 / 20%);
}

#homepage-links {
  margin-top: 1.5em;
  display: flex;
  gap: 16px;
}

#homepage .logo {
  width: 100%;
  margin-block: 16px;
  max-width: 400px;
  aspect-ratio: 1.37;
  filter: drop-shadow(rgb(0 0 0 / 60%) 8px 8px);
}

#homepage .logo img {
  width: 100%;
  object-fit: contain;
}

#homepage .men-button {
  filter: drop-shadow(rgb(0 0 0 / 60%) 2px 2px);
}
