#settings-page {
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
  overflow-y: auto;
}

.group-settings-container {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  flex: 0 1 500px;
  gap: 8px;
}

.group-settings-container h2 {
  font-size: 32px;
  margin: 0;
}

.group-settings-container .setting-title {
  margin-block: 0.5rem 0.125rem;
  font-weight: bold;
  opacity: 0.7;
}

.group-settings-container .setting-group {
  border: 0;
  margin: 0.5rem 0 0;
  padding: 0;
}

.group-settings-container .validation-error {
  min-height: 20px;
}

.group-settings-member-section {
  padding: 0.5rem;
  position: relative;
}

.group-settings-member-color-option img {
  width: 12px;
  height: 15px;
}

.group-settings-member-title {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.group-settings-member-title h3 {
  font-size: 24px;
  display: flex;
  gap: 0.25em;
}

.group-settings-member-title h3 img {
  width: 1em;
  height: 1em;
  object-fit: contain;
  image-rendering: pixelated;
}

.group-settings-member-name {
  display: flex;
  flex-direction: column;
}

.group-settings-member-name-input {
  display: flex;
  gap: 0.5rem;
}

.group-settings-member-name-input input {
  flex: 1;
}

.group-settings-member-remove {
  color: red !important;
}

.group-settings-pending-overlay {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  inset: 0;
}

#group-settings-remove-confirmation {
  padding: 16px;
}

#group-settings-remove-confirmation h1 img {
  margin-inline: 4px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  image-rendering: pixelated;
}

#group-settings-remove-confirmation button {
  margin-block: 4px;
}

.settings-page-radio-item {
  display: flex;
}

.settings-page-radio-item + .settings-page-radio-item {
  margin-top: 0.125rem;
}

.settings-page-radio-item:focus-within {
  outline: auto;
}

.settings-page-radio-item input:focus-visible {
  outline: none;
}

.settings-page-number-item {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.settings-page-number-item input[type="number"] {
  width: 72px;
}

.group-settings-member-color {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.group-settings-member-color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.group-settings-member-color-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/ui/170-0.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  padding: 3px;
  border: 2px solid transparent;
  cursor: pointer;
}

.group-settings-member-color-option:hover {
  box-shadow: inset 0 0 0 1000px rgb(255 255 255 / 10%);
  border-radius: 0.5rem;
}

.dark-mode .group-settings-member-color-option {
  background-image: url("../../assets/ui/170-0-dark.png");
}

.group-settings-member-color-option.selected {
  background-image: url("../../assets/ui/179-0.png");
}

.group-settings-member-color-option.taken {
  opacity: 0.3;
}
