#top-left-links {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
}

#bottom-right-links {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
}

.social-links {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 8px;
  padding: 4px;
  filter: drop-shadow(rgb(0 0 0 / 60%) 2px 2px);
}

.homepage-link {
  text-decoration: none;
  color: hsl(0deg 0% 80%);
  filter: drop-shadow(black 1px 1px);
  text-shadow: none;
  display: flex;
  padding-left: calc(1em + 4px);
}

.homepage-link img {
  position: absolute;
  filter: brightness(80%);
  padding-right: 0.25em;
  left: 0;
}

.homepage-link:hover {
  color: var(--white);
}

.homepage-link:hover img {
  filter: brightness(100%);
}
