#social-links > li {
  display: flex;
}

#social-links > li > a > div {
  display: flex;
  width: 35px;
  place-content: center center;
}

#social-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  list-style: none;
  font-size: 1.2em;
}

#social-links a {
  display: flex;
  color: hsl(0deg 0% 80%);
  text-decoration: none;
  align-items: center;
}

#social-links a:hover {
  color: hsl(0deg 0% 100%);
}

#original-creator-link {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.6em 0.8em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 0.9em;
  text-decoration: none;
  opacity: 0.5;
}
