#skill-graph-control-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

#skill-graph-body {
  display: flex;
  overflow-y: auto;
  position: relative;
  flex-direction: column;
  flex: 1;
}

#skill-graph-container {
  min-width: 0;
  position: relative;
  height: max(40vh, 300px);
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

#skill-graph-line-chart-container {
  position: absolute;
  inset: 0;
  background: rgb(255 255 255 / 5%);
}

#skill-graph-skill-image {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  image-rendering: pixelated;
  opacity: 0.2;
  aspect-ratio: 1;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

#skill-graph-loading-overlay {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  inset: 0;
}

#skill-graph-xp-change-table {
  margin: 8px 24px;
  border-collapse: collapse;
}

.skill-graph-xp-change-table-image-container {
  width: 1em;
  height: 1em;
  margin-inline: 0.5em;
}

.skill-graph-xp-change-table-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#skill-graph-xp-change-table th {
  font-family: rsbold, ui-sans-serif, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.skill-graph-xp-change-table-label {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.skill-graph-member-header {
  position: relative;
}

.skill-graph-member-header td {
  padding: 12px 0 8px;
}

.skill-graph-member-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background: var(--light-border);
  pointer-events: none;
}

#skill-graph-xp-change-table tr.skill-graph-member-header .skill-graph-xp-change-table-label {
  font-family: rsbold, ui-sans-serif, Arial, sans-serif;
  font-weight: bold;
}

#skill-graph-xp-change-table tr.skill-graph-member-header .skill-graph-xp-change-data {
  font-family: rsbold, ui-sans-serif, Arial, sans-serif;
  font-weight: bold;
}

#skill-graph-no-data {
  padding: 8px;
}
