#panels-page-container {
  gap: 16px;
  padding: 8px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, max-content));
  justify-content: center;
  align-items: start;
}
