#tooltip-container {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
}

#tooltip {
  transform: translate(5px, calc(-100% - 5px));
  min-width: 160px;
  background-color: rgb(26 26 26 / 61%);
  border: solid 1px rgb(26 26 26 / 80%);
  padding: 5px;
  text-shadow: 1.3px 1.3px var(--black);
}

#tooltip hr {
  background-color: rgb(255 255 255 / 60%);
  margin-block: 4px;
  border: none;
  height: 1px;
}

#tooltip:empty {
  visibility: hidden;
}
