#canvas-map-container {
  touch-action: none;
  image-rendering: pixelated;
  position: absolute;
  inset: 0;
}

#canvas-map-follow-dropdown {
  display: none;
}

#canvas-map-teleport-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media only screen and (width <= 800px) {
  #canvas-map-follow-dropdown {
    display: block;
  }

  #canvas-map-teleport-buttons {
    display: none;
  }
}

#canvas-map {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  transition: filter 0.5s;
  -webkit-user-drag: none;
  user-select: none;
}

#canvas-map:not(.interactive) {
  filter: opacity(0.8) saturate(0.8);
}

#canvas-map.interactive {
  pointer-events: auto;
  cursor: grab;
}

#canvas-map.dragging {
  cursor: grabbing;
}

.dark-mode #canvas-map:not(.interactive) {
  filter: opacity(0.6) saturate(0.8);
}

#canvas-map-coordinates {
  position: fixed;
  bottom: 0;
  left: 8px;
}

#canvas-map-controls {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-self: baseline;
}

.canvas-map-teleport-button:focus-visible {
  outline: auto;
}

.canvas-map-selected-teleport-button {
  outline: 1px solid rgb(200 200 200);
  filter: brightness(1.2);
}
